<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>ttnhat.data.web.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ttnhat.data.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>ttnhat.data.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>ttnhat.data.web.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>ttnhat.data.web.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderedServlet</servlet-name>
        <servlet-class>ttnhat.data.web.OrderedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>ttnhat.data.web.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoServlet</servlet-name>
        <servlet-class>ttnhat.data.web.VideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>ttnhat.data.web.AdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCourseServlet</servlet-name>
        <servlet-class>ttnhat.data.web.AdminCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAndDeleteVideoServlet</servlet-name>
        <servlet-class>ttnhat.data.web.SaveAndDeleteVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVideoServlet</servlet-name>
        <servlet-class>ttnhat.data.web.DeleteVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCourseServlet</servlet-name>
        <servlet-class>ttnhat.data.web.SaveCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseServlet</servlet-name>
        <servlet-class>ttnhat.data.web.EditCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addCart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderedServlet</servlet-name>
        <url-pattern>/ordered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoServlet</servlet-name>
        <url-pattern>/video/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/AdminUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCourseServlet</servlet-name>
        <url-pattern>/AdminCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAndDeleteVideoServlet</servlet-name>
        <url-pattern>/saveanddelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVideoServlet</servlet-name>
        <url-pattern>/deletevideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCourseServlet</servlet-name>
        <url-pattern>/SaveCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseServlet</servlet-name>
        <url-pattern>/EditCourse/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
